:root {
  --bool-black: rgb(0, 0, 0);
  --bool-white: white;
  --bool-primary: #4ea0ff;
  --bool-secondary: #1fa9e5;
  --bool-secondary-light: #a8e3ff;
  --bool-light: #a0a0a0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 50%;
  margin: auto;
}

.text_xs{
  font-size: 0.7rem;
}

.py-3{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.pl-3{
  padding-left: 1rem;
}

.w-50{
  width: 50%;
}

.text-left{
  text-align: left;
}

.bg-secondary{
  background-color: var(--bool-secondary);
  color: var(--bool-white);
}

.bg-secondary-light{
  background-color: var(--bool-secondary-light);
  color: var(--bool-black)
}

.border-collapse{
  border-collapse: collapse;
}

#app-header{
  background-color: var(--bool-primary);
  background-image: url(../asset/images/pattern.png);
  background-size: 400px;
}

.logo{
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  padding-left: 20px;
}

.article-title{
  font-size: 2.5rem;
  margin: 1rem 0;
}

.author-name{
  color: var(--bool-secondary);
}

.date{
  color: var(--bool-light);
}

#red-bg{
  color: white;
  background-color: red;
}

.padding{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem
}

.text-footer {
  color: rgb(103, 103, 103);
  margin: 0%;
  font-weight: 600;
  font-size: 20px;
}

.box-image-footer {
  margin-top: 15px;
  color: white;
  height: 150px;
  width: 200px;
  background-image: url("../asset/images/monitor.jpg");
  background-size: cover;
}

.font-weight {
  font-weight: 600;
  padding-left: 10px;
  padding-top: 15px;
}

.box-image-footer2 {
  margin-top: 15px;
  color: white;
  height: 150px;
  width: 200px;
  background-image: url("../asset/images/graph.jpg");
  background-size: cover;
}